<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://springframework.org/schema/context"
 xmlns:p="http://springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <bean class="com.springcore.springcore.Student" name="student1">
 <property name="studentId">
 <value>22344</value>
 </property>
 
 <property name="studentName">
 <value>Sakshi AHer</value>
 </property>
 
 <property name="studentAddress">
 <value>Nashik</value>
 </property>
 
 </bean>
</beans>